<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Swiper!</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid" id="search_results">
    <form id="search_results_form">
        <div class="row" id="top_row">
            <div class="col-md-8">Search: <input type="text" id="search_box" width="32" maxlength="64"></div>
            <div class="col-md-4"><input type="button" value="Search" onclick="get_results()"></div>
        </div>
        <div id="search_results_rows">
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>

<!-- reset: delete all rows by 1 -->
<script>
    // call out to the API to search for the criteria
    // iterate through the results
    function get_results() {
        var search_query = $(search_box).val();
        $(search_results_rows).load("search_rows/" + search_query);
    }
</script>
<!-- draw results:  iterate, one row = results / 6 -->

<!-- later put the cart and deletes on the sides:  delete left, right for cart, swipe cart down to buy -->